
<br><br>
<!-- <br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br> -->

<!--pagination for matching users-->
<table class="table table-bordered">
    <tr *ngFor="let comment of comments">
      <td>
        {{ comment.content }} 
        <button type="button" class="close" (click)="deleteById(comment.id, comment.owner_id)">x</button>
      </td>
    </tr>
  </table>

  <nav class="navbar navbar-expand-lg navbar-light">
    <div id="navbar-control" class="ml-auto">
      <!-- <input type="button" id="add-post-btn" routerLink="/addcomment" value="+ comment" > -->
      <button type="button" id="add-comment-btn" (click)="goToAddCommentPage('addcomment')"> + comment</button>
    </div>
  </nav>