
<br><br>

<!--pagination for matching users-->
<table class="table table-bordered">
    <tr *ngFor="let comment of comments">
      <td>{{ comment.content }}</td>
    </tr>
  </table>

  <nav class="navbar navbar-expand-lg navbar-light">
    <div id="navbar-control" class="ml-auto">
      <!-- <input type="button" id="add-post-btn" routerLink="/addcomment" value="+ comment" > -->
      <button type="button" id="add-post-btn" (click)="goToAddCommentPage('addcomment')"> + comment</button>
    </div>
  </nav>