<form class="form-signin">
    <h3 class="form-signin-heading"> comment right now</h3>
    <div class="form-group">
        <label for="exampleBlogID">blog_id</label>
        <input name="blog_id" [(ngModel)]="comment.blog_id" type="text" class="form-control" id="exampleBlogID" placeholder="Enter blog_id">
    </div>
    <div class="form-group">
        <label for="exampleComment">comment</label>
        <textarea name="comment" [(ngModel)]="comment.content" class="form-control" id="exampleComment" placeholder="Enter your comment">
        </textarea>
    </div>

   

    <button type="button" (click)="addComment()" class="btn btn-primary">post comment</button>
</form>