#post-submit-btn {
  background-color: #3f93e5;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1%;
  width: 6%;
  display: inline-block;
}

#post-submit-btn:hover {
  background-color: #205f9b;
  cursor: pointer;
}
