<form class="form-register">
  <h2 class="form-form-register-heading">Sign up for a great experience!</h2>
  <label for="inputFirstName" class="sr-only">FirstName</label>
  <input name="firstName" [(ngModel)] = "user.fname" type="firstName" id="inputFirstName" class="form-control" placeholder="FirstName" required>
  <label for="inputLastName" class="sr-only">LastName</label>
  <input name="lastName" [(ngModel)] = "user.lname" type="lastName" id="inputLastName" class="form-control" placeholder="LastName" required>
  <label for="inputEmail" class="sr-only">Email</label>
  <input name="email" [(ngModel)] = "user.email" type="email" id="inputEmail" class="form-control" placeholder="Email" required>
  <label for="inputUsername" class="sr-only">Username</label>
  <input name="username" [(ngModel)] = "user.username" type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input name="password" [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Accept the "User Agreement"
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" id="sign-in-page-btn" (click)="register();" type="button">Sign up</button>
</form>
